@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F3F4F6;
  --foreground: #333333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #333333;
    --foreground: #F3F4F6;
  }
}

/* Bungee Hairline */
@font-face {
  font-family: 'Bungee Hairline';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/BungeeHairline-Regular.ttf') format('truetype');
}

/* Geist Mono */
@font-face {
  font-family: 'Geist Mono';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('./fonts/GeistMonoVF.woff') format('woff');
}

/* Geist VF */
@font-face {
  font-family: 'Geist VF';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('./fonts/GeistVF.woff') format('woff');
}

/* Playfair Display */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('./fonts/PlayfairDisplay-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url('./fonts/PlayfairDisplay-BlackItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./fonts/PlayfairDisplay-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('./fonts/PlayfairDisplay-BoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('./fonts/PlayfairDisplay-ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url('./fonts/PlayfairDisplay-ExtraBoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/PlayfairDisplay-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./fonts/PlayfairDisplay-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('./fonts/PlayfairDisplay-MediumItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/PlayfairDisplay-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./fonts/PlayfairDisplay-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('./fonts/PlayfairDisplay-SemiBoldItalic.ttf') format('truetype');
}

/* Poppins */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('./fonts/Poppins-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url('./fonts/Poppins-BlackItalic.ttf') format('truetype');
}
/* Fira Mono Bold */
@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url('./fonts/FiraMono-Bold.ttf') format('truetype');
}

/* Fira Code Bold */
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url('./fonts/FiraCode-Bold.ttf') format('truetype');
}

/* Fira Code Light */
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('./fonts/FiraCode-Light.ttf') format('truetype');
}

/* Fira Code Medium */
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./fonts/FiraCode-Medium.ttf') format('truetype');
}

/* Fira Code Regular */
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('./fonts/FiraCode-Regular.ttf') format('truetype');
}

/* Fira Code SemiBold */
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./fonts/FiraCode-SemiBold.ttf') format('truetype');
}
/* Fira Mono Bold */
@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url('./fonts/FiraMono-Bold.ttf') format('truetype');
}

/* Fira Mono Medium */
@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./fonts/FiraMono-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Major Mono Display';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('./fonts/MajorMonoDisplay-Regular.ttf') format('truetype');
}
/* Roboto Mono Bold */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url('./fonts/RobotoMono-Bold.ttf') format('truetype');
}

/* Roboto Mono Bold Italic */
@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: bold;
  font-display: swap;
  src: url('./fonts/RobotoMono-BoldItalic.ttf') format('truetype');
}

/* Roboto Mono Extra Light */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('./fonts/RobotoMono-ExtraLight.ttf') format('truetype');
}

/* Roboto Mono Extra Light Italic */
@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url('./fonts/RobotoMono-ExtraLightItalic.ttf') format('truetype');
}

/* Roboto Mono Italic */
@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: url('./fonts/RobotoMono-Italic.ttf') format('truetype');
}

/* Roboto Mono Light */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('./fonts/RobotoMono-Light.ttf') format('truetype');
}

/* Roboto Mono Light Italic */
@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('./fonts/RobotoMono-LightItalic.ttf') format('truetype');
}

/* Roboto Mono Medium */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./fonts/RobotoMono-Medium.ttf') format('truetype');
}

/* Roboto Mono Medium Italic */
@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('./fonts/RobotoMono-MediumItalic.ttf') format('truetype');
}

/* Roboto Mono Regular */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('./fonts/RobotoMono-Regular.ttf') format('truetype');
}

/* Roboto Mono SemiBold */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./fonts/RobotoMono-SemiBold.ttf') format('truetype');
}

/* Roboto Mono SemiBold Italic */
@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('./fonts/RobotoMono-SemiBoldItalic.ttf') format('truetype');
}

/* Roboto Mono Thin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('./fonts/RobotoMono-Thin.ttf') format('truetype');
}

/* Roboto Mono Thin Italic */
@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url('./fonts/RobotoMono-ThinItalic.ttf') format('truetype');
}
/* Sometype Mono SemiBold */
@font-face {
  font-family: 'Sometype Mono';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./fonts/SometypeMono-SemiBold.ttf') format('truetype');
}

/* Sometype Mono Bold */
@font-face {
  font-family: 'Sometype Mono';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url('./fonts/SometypeMono-Bold.ttf') format('truetype');
}

/* Sometype Mono Bold Italic */
@font-face {
  font-family: 'Sometype Mono';
  font-style: italic;
  font-weight: bold;
  font-display: swap;
  src: url('./fonts/SometypeMono-BoldItalic.ttf') format('truetype');
}

/* Sometype Mono Italic */
@font-face {
  font-family: 'Sometype Mono';
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: url('./fonts/SometypeMono-Italic.ttf') format('truetype');
}

/* Sometype Mono Medium */
@font-face {
  font-family: 'Sometype Mono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./fonts/SometypeMono-Medium.ttf') format('truetype');
}

/* Sometype Mono Medium Italic */
@font-face {
  font-family: 'Sometype Mono';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('./fonts/SometypeMono-MediumItalic.ttf') format('truetype');
}

/* Sometype Mono Regular */
@font-face {
  font-family: 'Sometype Mono';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('./fonts/SometypeMono-Regular.ttf') format('truetype');
}

/* Sometype Mono SemiBold Italic */
@font-face {
  font-family: 'Sometype Mono';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('./fonts/SometypeMono-SemiBoldItalic.ttf') format('truetype');
}
/* Fira Mono Regular */
@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('./fonts/FiraMono-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./fonts/Poppins-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('./fonts/Poppins-BoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('./fonts/Poppins-ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url('./fonts/Poppins-ExtraBoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('./fonts/Poppins-ExtraLight.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url('./fonts/Poppins-ExtraLightItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/Poppins-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('./fonts/Poppins-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('./fonts/Poppins-LightItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./fonts/Poppins-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('./fonts/Poppins-MediumItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/Poppins-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./fonts/Poppins-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('./fonts/Poppins-SemiBoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('./fonts/Poppins-Thin.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url('./fonts/Poppins-ThinItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Amithen Extra';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('./fonts/Amithen-Extra.ttf') format('truetype');
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Bungee Hairline', 'Lato', 'Playfair Display', 'Poppins', Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
